@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

h1 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 0;
}

h2 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
}

h3 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
}

p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

.nav__links li, .nav__links a {
    display: inline-block;
    padding: 10px 10px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    color: #000000;
    text-decoration: none;
    list-style: none;
    transition: opacity 0.3s ease;
}

.nav__links li:hover, .nav__links a:hover {
    opacity: 0.6;
}


.nav-right button {
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    background-color: #6B0504;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 24px;
    transition: filter 0.3s ease;
}

.nav-right button:hover {
    filter: brightness(75%);
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #ffffff;
}

.how-it-works-header {
    display: flex;
    gap: 200px;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 100px;

}

.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav {
    margin-left: 200px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 200px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero-section h1 {
    text-align: center;
    padding-bottom: 5px;
}

.hero-section p {
    text-align: center;
}

.hero-section img {
    height: 464px;
    width: 415px;
}

.arrow-button button {
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    background-color: #6B0504;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 24px;
    text-decoration: none;
    transition: filter 0.3s ease;
}

.arrow-button button:hover {
    filter: brightness(75%)
}

.arrow-button button::after {
    content: "\2192";
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.arrow-button button:hover::after {
    content: "\2192";
    margin-left: 10px;
    transform: translateX(8px);
}

.steps {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;

    margin-top: 100px;
    margin-left: 500px;
}

.step-1 {
    background-color: #6B0504;
    border-radius: 25px;
    padding: 30px;
    width: 300px;
    height: 430px;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 60px;

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.step-1 img {
    width: 200px;
    height: 150px;
}

.step-2 {
    background-color: #E5E7EB;
    border-radius: 25px;
    padding: 30px;
    width: 300px;
    height: 430px;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 60px;

    font-family: 'Roboto', sans-serif;
    color: #6B0504;
}

.step-2 img {
    width: 200px;
    height: 150px;
}

.step-3 {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 30px;
    width: 300px;
    height: 430px;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 60px;

    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.step-3 img {
    width: 200px;
    height: 150px;
}

.step-2 h3,
.step-3 h3 {
    text-align: center;
    width: 100%;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6B0504;
    height: 100vh;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;

    text-align: center;
    color: #ffffff;
}

#contact {
    display: flex;
    justify-content: flex-start;
    gap: 500px;
    align-items: stretch;
    padding: 150px 100px 100px 100px;
}

.contact-column1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 400px;
}

.contact-me h1 {
    margin-bottom: 10px;
    white-space: nowrap;
}

.contact-me p {
    margin-top: 0;
}

.contact-column2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
}

.find-me-links {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

.find-me-links li a {
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0px;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.find-me-links li a:hover {
    opacity: .6;
}

.name-subject {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.company-email {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.submit {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.submit button {
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    color: #000000;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.submit button::after {
    content: " \2192";
    display: inline-block;      
    margin-left: 6px;
    transition: transform 0.3s ease;
}

.submit button:hover {
    opacity: .6;
}

.submit button:hover::after {
    transform: translateX(8px);  
}



.name-form,
.subject-form,
.company-form,
.email-form {
    width: 220px;
}